<!--
	作者：27048384@qq.com
	时间：2020-04-06
	描述：删除确认弹框
-->
<script type="text/ng-template" id="d305fb00-49d3-4b0c-9af0-268e9bf0e2be">
	<div class="modal-header">
		<h4 class="modal-title">确认删除!</h4>
	</div>
	<div class="modal-body">
		<ul>
			<li ng-repeat="item in rows" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
				选择的是: <b>{{ item.name }}</b>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">取消</button>
		<button class="btn btn-primary" ng-click="ok()">确定</button>
	</div>
</script>
<!--
	作者：27048384@qq.com
	时间：2020-04-06
	描述：SSH服务器组内容
-->
<div class="bg-light lter b-b wrapper-md page_header" style="padding: 10px;">运维 > SSH > <strong style="color: rgb(25,158,216);">组管理</strong></div>
<div class="wrapper-md" ng-controller="0fccd9a1-7669-44b6-b661-8b89900d2124" ng-init="init()">
	<div ng-controller="ToasterCtrl" ng-init="init()">
		<!-- toaster directive -->
		<toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
		<!-- / toaster directive -->
	</div>
	<!--列表-->
	<div class="panel panel-default" ng-show="tableContent">
		<div class="panel-heading">SSH组管理</div>
		<div class="row wrapper">

			<div style="margin-bottom: 0px;width: auto;" class="form-group col-sm-2">
				<div class="input-group">
					<select class="form-control inline v-middle" ng-model="selectRequest.status">
						<option value="-1">{{i18n.search.pleaseSelectStatus}}</option>
						<option value="0">{{i18n.disable}}</option>
						<option value="1">{{i18n.enable}}</option>
					</select>
				</div>
			</div>

			<div style="margin-bottom: 0px;" class="form-group col-sm-2" ng-controller="02fdff6a" ng-init="init('startTime')">
				<div class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{format}}" id="startTime" ng-model="selectRequest.startTime" is-open="opened" min-date="'1980-1-1'" max-date="'2100-12-31'" datepicker-options="dateOptions" ng-required="true" close-text="{{i18n.close}}" clear-text="{{i18n.clear}}" current-text="{{i18n.currentDate}}" format-date placeholder="{{i18n.startTime}}" />
					<span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
				</div>
			</div>

			<div style="margin-bottom: 0px;" class="form-group col-sm-2" ng-controller="02fdff6a" ng-init="init('endTime')">
				<div class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{format}}" id="endTime" ng-model="selectRequest.endTime" is-open="opened" min-date="'1980-1-1'" max-date="'2100-12-31'" datepicker-options="dateOptions" ng-required="true" close-text="{{i18n.close}}" clear-text="{{i18n.clear}}" current-text="{{i18n.currentDate}}" format-date placeholder="{{i18n.startTime}}" />
					<span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
				</div>
			</div>

			<div style="margin-bottom: 0px;" class="form-group col-sm-2">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="selectRequest.key" placeholder="{{i18n.search.key}}">
					<span class="input-group-btn"><button class="btn btn-info" type="button" ng-click="search(false)">{{i18n.search.name}}</button></span>
				</div>
			</div>
			<div style="margin-bottom: 0px;width: auto;" class="form-group col-sm-2">
				<div class="input-group">
					<button class="btn btn-dark" ng-click="search(true)">{{i18n.clear}}</button>
				</div>
			</div>

			<div style="margin-bottom: 0px;width: auto;" class="form-group col-sm-2">
				<div class="input-group">
					<button class="btn btn-primary" ng-click="add()">{{i18n.add.name}}</button>
				</div>
			</div>

			<div style="margin-bottom: 0px;width: auto;" class="form-group col-sm-2">
				<div class="input-group" ng-controller="ff6f79f6">
					<button class="btn btn-danger" ng-disabled="deleteAllDisabled" ng-click="open()">{{i18n.delete.selected}}</button>
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-striped b-t b-light">
				<thead>
					<tr>
						<th style="width:20px;">
							<label class="i-checks m-b-none">
							<input type="checkbox" ng-model="selectAll" ng-click="checkboxAll(selectAll)" ng-checked="selectAll" ng-disabled="page.data.length==0"><i></i>
						</label>
						</th>
						<th>Id</th>
							<th>{{i18n.name}}</th>
							<th>{{i18n.status}}</th>
							<th>{{i18n.date}}</th>
						<th style="text-align: center;">{{i18n.open}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in page.data">
						<td><label class="i-checks m-b-none"><input type="checkbox" value="{{item.groupId}}" ng-click="checkboxSelected($event,item.groupId)" ng-checked="item.check" ng-model="item.check"><i></i></label></td>
						<td><span class="text-ellipsis">{{item.groupId}}</span></td>
						<td><span class="text-ellipsis">{{item.name}}</span></td>
						<td>
							<label class="i-switch m-t-xs m-r">
								<input type="checkbox" ng-model="item.statusCheck" ng-click="statusUpdate(item);"><i></i>
							</label>
						</td>
						<td><span class="text-ellipsis">{{item.createTime}}</span></td>
						<td style="text-align: center;" ng-controller="0ebf2e8e-9269-4661-8b34-e8364c0e59d5">
							<button style="height: 24px;padding: 2px;" class="btn btn-info btn-sm" style="margin-left:5px;" ng-controller="4a2d21ee" ng-click="show(item)">查看</button>
							<button style="height: 24px;padding: 2px;" class="btn btn-success btn-sm" style="margin-left:5px;" ng-click="edit(item)">{{i18n.edit.name}}</button>
							<button style="height: 24px;padding: 2px;" class="btn btn-danger btn-sm" style="margin-left:5px;" ng-click="open(item)">{{i18n.delete.name}}</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-3 hidden-xs">
					<select class="input-sm form-control w-sm inline v-middle" ng-model="selectRequest.length" ng-change="selectRowLengthChange();">
						<option value="10">10</option>
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<small class="text-muted inline m-t-sm m-b-sm">{{i18n.page.perPage}}&nbsp;{{selectRequest.length}}&nbsp;{{i18n.page.row}}</small>
				</div>
				<div class="col-sm-7">
					<div class="col-sm-4 text-center">
						<small class="text-muted inline m-t-sm m-b-sm">{{i18n.page.show}}&nbsp;{{page.data.length}}&nbsp;{{i18n.page.article}}， {{i18n.page.total}}&nbsp;{{page.count}}&nbsp;{{i18n.page.article}}</small>
					</div>
					<div style="height: 29px;padding-top: 5px; width: 66%;" class="col-sm-4 text-right text-center-xs">
						<pagination ng-change="pageChange()" total-items="page.count" ng-model="selectRequest.start" max-size="page.maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" boundary-link-numbers="true" rotate="false" items-per-page="selectRequest.length" num-pages="page.pages" previous-text="{{i18n.page.previous}}" next-text="{{i18n.page.next}}" first-text="{{i18n.page.first}}" last-text="{{i18n.page.last}}"></pagination>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!--添加-->
	<div class="panel panel-default" ng-show="addContent">
		<form name="formValidateAdd" class="form-horizontal form-validation">
			<div class="panel-heading">
				<strong>添加组</strong>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">组：</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" placeholder="请填写组..." ng-model="data.name" maxlength="50" minlength="2" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">是否启用：</label>
					<div class="col-sm-9">
						<label class="checkbox i-checks">
                    <input type="checkbox" ng-model="data.status"><i></i>
                  </label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">描述：</label>
					<div class="col-sm-9">
						<textarea class="form-control" style="resize: none;height: 80px;" rows="6" placeholder="请填写描述..." ng-model="data.description" maxlength="255"></textarea>
					</div>
				</div>
			</div>
			<footer class="panel-footer text-center bg-light lter">
				<button type="submit" class="btn btn-success" ng-disabled="formValidateAdd.$invalid" aria-disabled="false" ng-click="add();">提交</button>
				<button type="button" class="btn btn-danger" style="margin-left: 50px;" ng-click="back();">返回</button>
			</footer>
		</form>
	</div>
	<!--修改-->
	<div class="panel panel-default" ng-show="editContent">
		<form name="formValidateEdit" class="form-horizontal form-validation">
			<div class="panel-heading">
				<strong>修改组</strong>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">组：</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" placeholder="请填写组..." ng-model="data.name" maxlength="50" minlength="2" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">是否启用：</label>
					<div class="col-sm-9">
						<label class="checkbox i-checks">
                    <input type="checkbox" ng-model="data.status"><i></i>
                  </label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">描述：</label>
					<div class="col-sm-9">
						<textarea class="form-control" style="resize: none;height: 80px;" rows="6" placeholder="请填写描述..." ng-model="data.description" maxlength="255"></textarea>
					</div>
				</div>
			</div>
			<footer class="panel-footer text-center bg-light lter">
				<button type="submit" class="btn btn-info" ng-click="edit(null);">提交</button>
				<button type="button" class="btn btn-danger" style="margin-left: 50px;" ng-click="back();">返回</button>
			</footer>
		</form>
	</div>
</div>
<script type="text/ng-template" id="9234f1ec-d3a5-4412-843a-90b893465b35">
	<div class="modal-header">
		<h4 class="modal-title">SSH组详情</h4>
	</div>
	<div class="modal-body" style="padding: 2px;">
		<ul>
			<table>
				<tr>
					<td style="text-align: right;">Id:</td>
					<td>{{ rows.id }}</td>
				</tr>
				<tr>
					<td style="text-align: right;">名称:</td>
					<td>{{ rows.name }}</td>
				</tr>
				<tr>
					<td style="text-align: right;">状态:</td>
					<td>
						<b>
							<label class="i-switch m-t-xs m-r" style="margin-top: 0px;">
								<input ng-model="rows.check" type="checkbox" disabled="disabled"><i></i>
							</label>
						</b>
					</td>
				</tr>
				</tr>
				<td style="text-align: right;">描述:</td>
				<td style="text-overflow:ellipsis;white-space:normal;">{{ rows.description }}</td>
				</tr>
			</table>
		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">关闭</button>
	</div>
</script>